
.mab-row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.mab-container:after,
.mab-container:before,
.mab-panel:after,
.mab-panel:before,
.mab-row:after,
.mab-row:before,
.mab-row-padding:after,
.mab-row-padding:before,
.mab-cell-row:before,
.mab-cell-row:after,
.mab-clear:after,
.mab-clear:before,
.mab-bar:before,
.mab-bar:after {
    content: "";
    display: table;
    clear: both
}
.mab-col{
    padding: 0 8px;
}
.mab-col,
.mab-half,
.mab-third,
.mab-twothird,
.mab-threequarter,
.mab-quarter {
    float: left;
    width: 100%;
}

.mab-col.s1 {
    width: 8.33333%
}

.mab-col.s2 {
    width: 16.66666%
}

.mab-col.s3 {
    width: 24.99999%
}

.mab-col.s4 {
    width: 33.33333%
}

.mab-col.s5 {
    width: 41.66666%
}

.mab-col.s6 {
    width: 49.99999%
}

.mab-col.s7 {
    width: 58.33333%
}

.mab-col.s8 {
    width: 66.66666%
}

.mab-col.s9 {
    width: 74.99999%
}

.mab-col.s10 {
    width: 83.33333%
}

.mab-col.s11 {
    width: 91.66666%
}

.mab-col.s12 {
    width: 99.99999%
}

@media (min-width:601px) {
    .mab-container-full{
        width: 100%;
        margin: 0 auto;
    }
    .mab-container{
        width: 80vw;
        margin: 0 auto;
    }
    .mab-col.m1 {
        width: 8.33333%
    }
    .mab-col.m2 {
        width: 16.66666%
    }
    .mab-col.m3,
    .mab-quarter {
        width: 24.99999%
    }
    .mab-col.m4,
    .mab-third {
        width: 33.33333%
    }
    .mab-col.m5 {
        width: 41.66666%
    }
    .mab-col.m6,
    .mab-half {
        width: 49.99999%
    }
    .mab-col.m7 {
        width: 58.33333%
    }
    .mab-col.m8,
    .mab-twothird {
        width: 66.66666%
    }
    .mab-col.m9,
    .mab-threequarter {
        width: 74.99999%
    }
    .mab-col.m10 {
        width: 83.33333%
    }
    .mab-col.m11 {
        width: 91.66666%
    }
    .mab-col.m12 {
        width: 99.99999%
    }
}

@media (min-width:993px) {
    .mab-container-full{
        width: 100%;
        margin: 0 auto;
    }
    .mab-container{
        width: 80vw;
        margin: 0 auto;
    }
    .mab-col.l1 {
        width: 8.33333%
    }
    .mab-col.l2 {
        width: 16.66666%
    }
    .mab-col.l3 {
        width: 24.99999%
    }
    .mab-col.l4 {
        width: 33.33333%
    }
    .mab-col.l5 {
        width: 41.66666%
    }
    .mab-col.l6 {
        width: 49.99999%
    }
    .mab-col.l7 {
        width: 58.33333%
    }
    .mab-col.l8 {
        width: 66.66666%
    }
    .mab-col.l9 {
        width: 74.99999%
    }
    .mab-col.l10 {
        width: 83.33333%
    }
    .mab-col.l11 {
        width: 91.66666%
    }
    .mab-col.l12 {
        width: 99.99999%
    }
}


