// // Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) {
    
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px) { 
    
//  }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991.98px) {
    
// }

// // Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    #header .search-section #search-form input#search {
        width: 30vw;
    }

    #content .hero-section .hero-bg-image .hero-content .hero-title-text {
        font-size: 3rem;
    }
    
}

// // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #header .search-section #search-form input#search {
        width: 30vw;
    }

    #content .hero-section .hero-bg-image .hero-content .hero-title-text {
        font-size: 3rem;
    }
}


// @media only screen and (min-width: 48em) {
//     #header .search-section #search-form input#search {
//         width: 30vw !important;
//     }

//     #content .hero-section .hero-bg-image .hero-content .hero-title-text {
//         font-size: 3rem !important;
//     }
// }
// @media only screen and (min-width: 62em) {
   
// }

@media (prefers-color-scheme: dark) {
    body{
        color: $light-color !important;
        background-color:$dark-body-bg-color !important;
    }
    #header {
        background-color:$dark-header-bg-color;
        color: $light-color !important;
    }
    .video-attributes{
        color: $dark-spec-secondary-color !important;
        .channel-name{
            color: $dark-spec-secondary-color;
        }
    }
    .tablinks,
    .subscribers{
        color: $dark-spec-secondary-color;
    }
    .btn-outline {
        background: transparent;
        color: $dark-spec-secondary-color;
        border: 1px solid $dark-spec-secondary-color;
    }
    #header .search-section #search-form input#search {
        border: 1px solid #313131;
        background: #121212;
        color: $dark-spec-secondary-color;
    }
    input{
        color: $dark-spec-secondary-color;
    }
    #header .search-section #search-form #search-icon-legacy {
        color: $dark-spec-secondary-color;
        border: 1px solid #313131;
        background:#313131;
    }
    .card{
        background-color:$dark-header-bg-color;
    }
    a.option-link,
    .like-share-opt a {
        color:$light-color;
    }
    .sidepanel,
    #overSidepanel {
        background-color:$dark-header-bg-color;
        color: $light-color;
    }
    i,
    .material-icons,
    .menu-icon{
        color: $dark-spec-secondary-color !important;
    }
    .sidepanel a{
        color: $light-color;
    }
    %btn{
        color: $light-color;
    }
    #logo-light{
        display: none;
        }
    #logo-dark{
        display: block;
        }

    .popup .userSetting-content a.option-link {
        color: $light-color;
    }
}
.darkmode{
    color: $light-color !important;
    background-color:$dark-body-bg-color !important;
  
    #header {
        background-color:$dark-header-bg-color;
        color: $light-color !important;
    }
    .video-attributes{
        color: $dark-spec-secondary-color !important;
        .channel-name{
            color: $dark-spec-secondary-color;
        }
    }
    .tablinks,
    .subscribers{
        color: $dark-spec-secondary-color;
    }
    .btn-outline {
        background: transparent;
        color: $dark-spec-secondary-color;
        border: 1px solid $dark-spec-secondary-color;
    }
    #header .search-section #search-form input#search {
        border: 1px solid #313131;
        background: #121212;
        color: $dark-spec-secondary-color;
    }
    input{
        color: $dark-spec-secondary-color;
    }
    #header .search-section #search-form #search-icon-legacy {
        color: $dark-spec-secondary-color;
        border: 1px solid #313131;
        background:#313131;
    }
    .card{
        background-color:$dark-header-bg-color;
    }
    a.option-link,
    .like-share-opt a {
        color:$light-color;
    }
    .sidepanel,
    #overSidepanel {
        background-color:$dark-header-bg-color;
        color: $light-color;
    }
    i,
    .material-icons,
    .menu-icon{
        color: $dark-spec-secondary-color !important;
    }
    .sidepanel a{
        color: $light-color;
    }
    %btn{
        color: $light-color;
    }
    #logo-light{
        display: none;
        }
    #logo-dark{
        display: block;
        }

    .popup .userSetting-content a.option-link {
        color: $light-color;
    }
}