@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*
$control-width-xs: 180px !default;
$control-width-sm: 320px !default;
$control-width-md: 640px !default;
$control-width-lg: 960px !default;
$control-width-xl: 1280px !default; */
/*
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 960px !default;
$size-xl: 1280px !default;
$size-2x: 1440px !default;

$responsive-breakpoint: $size-xs !default;
*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css");
.higlighted-link {
  color: #ff7c38 !important;
}

.special-link {
  color: #2196F3 !important;
}

/* Colors */
.bg-white {
  background-color: #fff;
}

.bg-amber {
  background-color: #ffc107;
}

.bg-aqua {
  background-color: #00ffff;
}

.bg-blue {
  background-color: #2196F3;
}

.bg-light-blue {
  background-color: #87CEEB;
}

.bg-brown {
  background-color: #795548;
}

.bg-cyan {
  background-color: #00bcd4;
}

.bg-blue-grey {
  background-color: #607d8b;
}

.bg-green {
  background-color: #4CAF50;
}

.bg-light-green {
  background-color: #8bc34a;
}

.bg-indigo {
  background-color: #3f51b5;
}

.bg-khaki {
  background-color: #f0e68c;
}

.bg-lime {
  background-color: #cddc39;
}

.bg-orange {
  background-color: #ff9800;
}

.bg-deep-orange {
  background-color: #ff5722;
}

.bg-deep-orange {
  background-color: #ff5722;
}

.bg-pink {
  background-color: #e91e63;
}

.bg-purple {
  background-color: #9c27b0;
}

.bg-deep-purple {
  background-color: #673ab7;
}

.bg-red {
  background-color: #f44336;
}

.bg-sand {
  background-color: #fdf5e6;
}

.bg-teal {
  background-color: #009688;
}

.bg-teal {
  background-color: #009688;
}

.bg-yellow {
  background-color: #ffeb3b;
}

.bg-yellow {
  background-color: #ffeb3b;
}

.bg-black {
  background-color: #000;
}

.bg-grey {
  background-color: #9e9e9e;
}

.bg-gray {
  background-color: #9e9e9e;
}

.bg-light-grey {
  background-color: #f1f1f1;
}

.bg-light-gray {
  background-color: #f1f1f1;
}

.bg-dark-grey {
  background-color: #616161;
}

.bg-dark-gray {
  background-color: #616161;
}

.bg-pale-red {
  background-color: #ffdddd;
}

.bg-pale-green {
  background-color: #ddffdd;
}

.bg-pale-yellow {
  background-color: #ffffcc;
}

.bg-pale-blue {
  background-color: #ddffff;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.8rem;
  font-family: "Poppins";
  background-color: #fff;
  color: #1d1d1d;
  line-height: 1.6;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

summary {
  display: list-item;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

progress {
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

code,
kbd,
pre,
samp {
  font-size: 1em;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

button,
input,
select,
textarea,
optgroup {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

p {
  margin-top: 5px;
  margin-bottom: 7px;
}

.btn-primary, .btn-outline, .btn-normal, .btn-action {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 15px;
  font-weight: 500;
  vertical-align: middle;
}

.btn-primary:focus, .btn-outline:focus, .btn-normal:focus, .btn-action:focus, .btn-primary:hover, .btn-outline:hover, .btn-normal:hover, .btn-action:hover {
  background-color: #ff7c38;
  color: #fff;
  border: 1px solid #ff7c38;
}

.btn-primary {
  background-color: #1d1d1d;
  color: #fff;
  border: 1px solid #1d1d1d;
}

.btn-outline {
  background: transparent;
  color: #1d1d1d;
  border: 1px solid #1d1d1d;
}

.btn-normal {
  color: #1d1d1d;
  background: transparent;
  border: none;
}

.btn-action {
  border: none;
  background-color: #ff7c38;
  color: #fff;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.d-none,
.d-hide {
  display: none !important;
}

.d-visible {
  visibility: visible;
}

.d-invsible {
  visibility: hidden;
}

.m-1 {
  margin: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  padding: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  padding: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  padding: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.px-4 {
  padding: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.ml-5 {
  margin-left: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  padding: 5rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pl-5 {
  padding-left: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.px-5 {
  padding: 0 5rem;
}

.text-upper {
  text-transform: uppercase;
}

.page-title-text {
  font-size: 2rem;
  font-weight: 300;
}

.subtitle {
  font-size: 0.9rem;
  font-weight: 500;
}

hr.horizontal-line {
  border-top: 1px solid #f1f1f1;
}

/* Uncomment and set these variables to customize the grid. */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.row.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.col-xs {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-xs-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-xs-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-xs-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-xs-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.333%;
}

.col-xs-offset-2 {
  margin-left: 16.667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.333%;
}

.col-xs-offset-5 {
  margin-left: 41.667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.333%;
}

.col-xs-offset-8 {
  margin-left: 66.667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.333%;
}

.col-xs-offset-11 {
  margin-left: 91.667%;
}

.start-xs {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle-xs {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bottom-xs {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last-xs {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

@media only screen and (min-width: 48em) {
  .container {
    width: 46rem;
  }
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .col-sm {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-offset-1 {
    margin-left: 8.333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.667%;
  }
  .start-sm {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-sm {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-sm {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-sm {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .middle-sm {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .bottom-sm {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-sm {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .first-sm {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .last-sm {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media only screen and (min-width: 62em) {
  .container {
    width: 61rem;
  }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .col-md {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-md-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-md-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-md-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-md-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.333%;
  }
  .col-md-offset-2 {
    margin-left: 16.667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.333%;
  }
  .col-md-offset-5 {
    margin-left: 41.667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.333%;
  }
  .col-md-offset-8 {
    margin-left: 66.667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.333%;
  }
  .col-md-offset-11 {
    margin-left: 91.667%;
  }
  .start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-md {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-md {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .middle-md {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .bottom-md {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-md {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .first-md {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .last-md {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 71rem;
  }
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .col-lg {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.667%;
  }
  .start-lg {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-lg {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .middle-lg {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .bottom-lg {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-lg {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .first-lg {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .last-lg {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #header .search-section #search-form input#search {
    width: 30vw;
  }
  #content .hero-section .hero-bg-image .hero-content .hero-title-text {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  #header .search-section #search-form input#search {
    width: 30vw;
  }
  #content .hero-section .hero-bg-image .hero-content .hero-title-text {
    font-size: 3rem;
  }
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  margin: 0 auto;
  padding: 15px 30px;
  height: 70px;
  z-index: 10;
  position: fixed;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#header .header-content-left {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 40px;
}

#header .header-content-left .menu-icon {
  cursor: pointer;
}

#header .header-content-left .logo {
  margin-left: 50px;
}

#header .header-content-left .logo a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
}

#header .header-content-left .logo a img {
  width: auto;
  height: 40px;
  margin-right: 10px;
}

#header .header-content-left .logo a .logo-text {
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 600;
  color: #1d1d1d;
}

#header .search-section {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#header .search-section .explor {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 25px;
  margin-right: 10px;
}

#header .search-section .explor i {
  margin-left: 5px;
  line-height: 25px;
}

#header .search-section #search-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#header .search-section #search-form input#search {
  width: 35vw;
  height: 40px;
  border: 1px solid #bcc3ce;
  background: transparent;
  box-shadow: 0px 3px 11px -4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0px 3px 11px -4px rgba(0, 0, 0, 0.5) inset;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}

#header .search-section #search-form #search-icon-legacy {
  width: 70px;
  height: 40px;
  color: #bcc3ce;
  border: 1px solid #bcc3ce;
  border-radius: 0 5px 5px 0;
}

.user-access-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.user-access-section .user-profile-pic {
  width: 40px;
  height: 40px;
}

.user-access-section .user-profile-pic img {
  width: 40px;
}

.sidebar-small {
  width: 75px;
  height: 100vh;
  overflow-y: scroll;
  background: #fff;
  -webkit-box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
  position: fixed;
  top: 70px;
  left: 0;
}

.sidebar-small ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  color: #616161;
}

.sidebar-small ul li a .menu-text-small {
  font-size: 0.6rem;
}

.sidebar-small ul li a:hover {
  background-color: #ff7c38;
  color: #fff;
}

.signle-big-cat a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1d1d1d;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 3px;
  padding: 20px 0;
  cursor: pointer;
}

.signle-big-cat a span.icons-cat {
  font-size: 50px;
}

.signle-big-cat a span.cat-name {
  font-size: 0.7rem;
  text-transform: uppercase;
}

.signle-big-cat a:hover {
  background-color: #ff7c38;
  color: #fff;
}

.small-cat-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #616161;
}

.signle-small-cat a {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1d1d1d;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  border: 1px solid #616161;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  line-height: 1.2;
  min-height: 50px;
  padding: 8px 15px;
  cursor: pointer;
}

.signle-small-cat a span.icons-cat {
  font-size: 25px;
  margin-right: 15px;
}

.signle-small-cat a span.cat-name {
  font-size: 0.7rem;
  text-transform: uppercase;
}

.signle-small-cat a:hover {
  background-color: #ff7c38;
  color: #fff;
}

.card {
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 2rem;
}

.card-banner img {
  width: 100%;
}

.card-title {
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 10px;
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
/*----mainpopup class---*/
.popup .notification-content {
  visibility: hidden;
  min-width: 350px;
  position: absolute;
  z-index: 10;
  top: 48px;
  margin-left: -24vw;
  padding: 10px;
}

.popup .notification-content .video-thub-img-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  font-size: 0.7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup .notification-content .video-thub-img-row .video-thub-img {
  position: relative;
  border-radius: 6px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-right: 15px;
  overflow: hidden;
}

.popup .notification-content .video-thub-img-row .video-thub-img img {
  width: 100%;
}

.popup .notification-content .video-thub-img-row .video-thub-img .play-btn {
  width: 25%;
  position: absolute;
  left: 38%;
  top: 25%;
}

.popup .notification-content .video-thub-img-row .video-thub-img .vide-share-options {
  position: absolute;
  right: 10px;
  bottom: 8px;
}

.popup .notification-content .video-thub-img-row .video-thub-img .vide-share-options a {
  color: #1d1d1d;
}

.popup .notification-content .video-thub-img-row .video-thub-img .vide-share-options a:hover {
  color: #ff7c38;
}

.popup .notification-content .video-thub-img-row .small-video-details {
  width: 100%;
}

.popup .notification-content .video-thub-img-row .small-video-details .video-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.65rem;
}

.popup .notification-content .video-thub-img-row .small-video-details .video-title .title-text {
  margin: 0;
}

.popup .notification-content .video-thub-img-row .small-video-details .video-attributes {
  font-size: 0.6rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.popup .notification-content .header-with-right-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #616161;
  padding-bottom: 10px;
}

/*----mainpopup class---*/
.popup .create-option-content {
  visibility: hidden;
  width: 160px;
  position: absolute;
  z-index: 10;
  top: 48px;
  margin-left: -140px;
  padding: 10px;
}

a.option-link {
  color: #1d1d1d;
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

a.option-link:hover {
  color: #ff7c38;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#content {
  position: absolute;
  left: 75px;
  width: calc(100% - 75px);
  padding: 30px;
  top: 70px;
}

#content .hero-section {
  margin-bottom: 1rem;
}

#content .hero-section .hero-bg-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 420px;
}

#content .hero-section .hero-bg-image .hero-content .hero-title-text {
  font-size: 2.5rem;
  font-family: "Playfair+Display";
  font-weight: 700;
  line-height: 1.1;
}

#content .single-video-content {
  margin-bottom: 2rem;
}

#content .video-feature-image {
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

#content .vide-share-options {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#content .vide-share-options span a {
  color: #1d1d1d;
  margin: 0 10px;
  font-size: 0.7rem;
}

#content .vide-share-options span a:hover {
  color: #ff7c38;
}

#content .video-title {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .video-attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.7rem;
  color: #616161;
}

#content .play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 0.7;
}

#content .video-thub-img-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  font-size: 0.7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .video-thub-img-row .video-thub-img {
  position: relative;
  border-radius: 6px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  min-width: 150px;
  margin-right: 15px;
  overflow: hidden;
}

#content .video-thub-img-row .video-thub-img img {
  width: 100%;
}

#content .video-thub-img-row .video-thub-img .play-btn {
  width: 25%;
}

#content .video-thub-img-row .small-video-details .video-title {
  font-size: 0.7rem;
}

#content .video-thub-img-row .small-video-details .video-attributes {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#content .video-player {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#content .video-player .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #1d1d1d;
  color: #fff;
  cursor: pointer;
}

#content .video-player .close-btn:hover {
  background-color: #ff7c38;
  color: #fff;
}

#content .section-title {
  font-family: "Roboto";
  font-size: 2rem;
  font-weight: 600;
}

#content #live-streaming .live-streaming-video .live-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

#content .single-video-content .video-title {
  font-size: 0.7rem !important;
}

#content .single-video-content .video-attributes {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#content .single-video-content .video-watch-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#content .single-video-content .play-btn {
  width: 25%;
}

.login-content {
  min-height: 100vh;
}

.login-content input {
  border-radius: 3px;
  width: 100%;
  padding: 5px 10px;
  margin: 10px 0;
  border: 1px solid #f1f1f1;
  min-height: 50px;
}

.login-content input[type=password] {
  position: relative;
}

.login-content a.forgot-pass {
  position: absolute;
  right: 11%;
  bottom: 44%;
}

.login-content .btn-action {
  width: 100%;
}

.login-content p.signup-redirect {
  font-size: 0.8rem;
}

.user-login-content {
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
}

.form-title {
  font-size: 1.2rem;
  font-family: "Roboto";
  font-weight: 600;
}

.form-area {
  font-size: 0.8rem;
}

.single-content-att {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.like-share-opt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.like-share-opt a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #616161;
}

.like-share-opt a :hover {
  color: #ff7c38;
}

.like-share-opt .count {
  margin-left: 5px;
}

.ml-c {
  margin-left: 10px;
}

.mx-c {
  margin: 0 10px;
}

.channel-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.channel-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-profile-pic,
.channerl-thub {
  width: 70px;
  height: 70px;
  background: lightgray;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-profile-pic img,
.channerl-thub img {
  width: 50px;
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  display: block;
}

.video-description {
  width: calc(100% - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-left: 70px;
}

.desc-tab {
  border-bottom: 1px solid #f1f1f1;
}

.tablinks {
  border: none;
  background: transparent;
  font-size: 0.9rem;
  color: #616161;
  padding: 5px 15px;
}

.tablinks:hover {
  border-bottom: 2px solid #ff7c38;
  color: #ff7c38;
}

.tablinks:nth-child(1) {
  padding-left: 0;
}

.old-comments,
.new-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments-content,
.comment-input {
  width: calc(100% - 70px);
}

.comment-input .inputbox-content input {
  width: 100%;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 30px;
  font-size: 14px;
  border: 0;
  background: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
}

.comment-input .inputbox-content {
  position: relative;
  width: 100%;
}

.comment-input .inputbox-content label {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  line-height: 30px;
  color: #ccc;
  cursor: text;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  z-index: 10;
}

.comment-input .inputbox-content input:focus ~ label, .comment-input .inputbox-content input:valid ~ label {
  color: #ff7c38;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-size: 0.825em;
  cursor: default;
}

.comment-input .inputbox-content input:focus ~ .underline {
  width: 100%;
}

.comment-input .inputbox-content .underline {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background: #ff7c38;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

span.comment-time {
  color: #616161;
  font-size: 0.7rem;
}

.comments-att {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments-att a {
  color: #616161;
  font-size: 0.7rem;
}

.comments-att a:hover {
  color: #ff7c38;
}

.publishing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.view-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

span.publishing-on {
  font-size: 0.6rem;
  font-style: italic;
}
