// .swiper-wrapper{
//     transition-duration: 0ms;
//     transform: translate3d(0, 0px, 0px) !important;
// }
// .swiper-slide{
//     height: 180px;
// }
.swiper-button-disabled{
    opacity: 0 !important;
}
.homeCatSwiper {
    .swiper-button-prev:after, .swiper-button-next:after {
        font-size: 18px !important;
        font-weight: 600 !important;
    }
    .swiper-button-prev, .swiper-button-next {
        position: absolute;
        border-radius: 50%;
        background: #fff !important;
        width: 50px !important;
        height: 50px!important;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
        top: 50%;
        margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color:$primary-color;
        &:hover{
            color:$light-color;
            background: $secondary-color !important;
        }
    }
}
.logedinCatSwiper {
    border-bottom:1px solid $color_dark-gray;
    .swiper-slide{
        width: auto!important;
    }
    .swiper-button-prev:after, .swiper-button-next:after {
        font-size: 18px !important;
        font-weight: 600 !important;
    }
    .swiper-button-prev, .swiper-button-next {
        position: absolute;
        border-radius: 50%;
        background: #fff !important;
        width: 40px !important;
        height: 40px!important;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
        top: 45%;
        margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color:$primary-color;
        &:hover{
            color:$light-color;
            background: $secondary-color !important;
        }
    }
}

.mostPopulerSwiper{
    overflow: initial;
        .slider-navigator {
            position: absolute;
            width: 100px;
            padding: 5px;
            border: 1px solid;
            border-radius: 3px;
            top: -75px;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            .divder-vertical {
                width: 1px;
                background: $primary-color;
                height: 23px;
                margin: 0 3px;
            }
        }
    .swiper-button-disabled{
        opacity:0.3 !important;
    }
    .swiper-button-prev:after, .swiper-button-next:after {
        font-size: 18px !important;
        font-weight: 600 !important;
    }
    // .swiper-button-prev{position: absolute;
    //     left: 93%;
    // }
    .swiper-button-prev, .swiper-button-next {
        position: absolute;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color:$primary-color;
        &:hover{
            color:$secondary-color;
           
        }
    }
    div.swiper-slide {
        height: auto;
        width: 19.5vw !important;
    }
} 


.liveSwiper{
    overflow: hidden;
    height: 35vh;
        
    .swiper-button-disabled{
        opacity:0.3 !important;
    }
    .swiper-button-prev:after, .swiper-button-next:after {
        font-size: 18px !important;
        font-weight: 600 !important;
    }
    .swiper-button-prev{
        position: absolute;
        top: 20px;
        left: 0;
        z-index: 25;
    }
    .swiper-button-next{
        position: absolute;
        top:96.2%;
        z-index: 25;
        left: 0;
    }
    .swiper-button-prev::after{
        content: 'next';
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
}
    .swiper-button-next::after{
        content: 'next';
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
}
    .swiper-button-prev, .swiper-button-next {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        background: $light-color;
        text-align: center;
        justify-content: center;
        color:$primary-color;
        &:hover{
            color:$secondary-color;
           
        }
    }
    .swiper-slide {
        flex-shrink: unset;
        width: 100%;
        height: auto !important;
    }
    // div.swiper-slide {
    //     width: auto !important;
    //     height: auto !important;
    // }
} 