.card{
    width: 100%;
    background: $light-color;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0,0.25);
    box-shadow: 0 0 2px 2px rgba(0, 0,0, 0.25);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 3rem;
}
.card-banner img {
    width: 100%;
}
.card-title {
    font-size: $subheadline-font-size;
    line-height: $subheadline-line-height;
    font-weight: $subheadline-font-weight;
    margin-bottom: 10px;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
