// .signle-big-cat {
//     a{
//         width: 100%;
//         display: flex;
//         color: $primary-color;
//         flex-flow: column;
//         box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
//         justify-content: center;
//         text-align: center;
//         border-radius: 3px;
//         padding: 20px 0;
//         cursor: pointer;
//         span.icons-cat {
//             font-size: 50px;
//         }
//         span.cat-name {
//             font-size:$font-size-small;
//             text-transform: uppercase;
//         }
//         &:hover{
//             @include set-background($secondary-color);
//         }
//     }
   
// }

.signle-big-cat {
    width: 100%;
    display: flex;
    color: $spec-secondary-color;
    flex-flow: column;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
    justify-content: center;
    text-align: center;
    border-radius: 3px;
    margin: 10px 0;
    padding: 20px 0;
    cursor: pointer;
    span.icons-cat {
        font-size: 5rem;
    }
    span.cat-name {
        font-size:$user-comment-font-size;
        font-weight: $user-comment-font-weight;
        letter-spacing: $user-comment-letter-spacing;
        text-transform: uppercase;
        margin-top: 10px;
    }
    &:hover{
        @include set-background($secondary-color);
    }
    }
.small-cat-style{
    display: flex;
    gap: 1rem;
}
.signle-small-cat{
    a{
        width: auto;
        display: flex;
        color: $primary-color;
        flex-flow: row;
        border: 1px solid $spec-secondary-color;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-radius: 3px;
        line-height: 1.2;
        min-height: 35px;
        padding: 8px 15px;
        cursor: pointer;
        span.icons-cat {
            font-size: 25px;
            margin-right:15px;
            color: $primary-color;
        }
        span.cat-name {
            font-size:$link-font-size;
            text-transform: uppercase;
        }
        &:hover{
            @include set-background($secondary-color);
            border: 1px solid $secondary-color;
        }
    }
}