.signle-big-cat {
    a{
        width: 100%;
        display: flex;
        color: $primary-color;
        flex-flow: column;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
        justify-content: center;
        text-align: center;
        border-radius: 3px;
        padding: 20px 0;
        cursor: pointer;
        span.icons-cat {
            font-size: 50px;
        }
        span.cat-name {
            font-size:$font-size-small;
            text-transform: uppercase;
        }
        &:hover{
            @include set-background($secondary-color);
        }
    }
   
}