#header{
    display: flex;
    width: 100%;
    justify-content:space-between;
    justify-items: center;
    margin: 0 auto;
    padding: 15px 30px;
    height: 70px;
    z-index: 10;
    overflow: initial;
    position: fixed;
    background-color: $light-color;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
        .header-content-left{
            display: inline-flex;
            line-height: 40px;
            .menu-icon{
                cursor: pointer;
            }
            .logo{
                margin-left: 50px;
                a{
                    display: inline-flex;
                    text-decoration: none;
                    img{
                        width: auto;
                        height: 40px;
                        margin-right: 10px;
                    }
                    .logo-text{
                        font-size: 1.2rem;
                        text-transform: uppercase;
                        line-height: 40px;
                        font-weight: 600;
                        color: $primary-color;

                    }
                } 
            }
        }

        .search-section{
            display: inline-flex;
            .explor{
                display: inline-flex;
                justify-content: center;
                line-height: 25px;
                margin-right: 10px;
                cursor: pointer;
                i {
                    margin-left: 5px;
                    line-height: 25px;
                }
            }
            #search-form{
                display: inline-flex;
                input#search{
                    width: 35vw;
                    height: 40px;
                    border: 1px solid $gray-color;
                    background: transparent;
                    // box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.5) inset;
                    // -webkit-box-shadow: 0px 3px 6px -4px rgba(0,0,0,0.5) inset;
                    // -moz-box-shadow: 0px 3px 11px -4px rgba(0,0,0,0.5) inset;
                    padding: 10px;
                    border-radius: 5px 0 0 5px;
                }
                #search-icon-legacy {
                    width: 70px;
                    height: 40px;
                    color:$gray-color;
                    border: 1px solid $gray-color;
                    border-radius: 0 5px 5px 0;
                    cursor: pointer;
                }
            }
            
        }
    
}
.menu-icon.openbtn {
	font-size: 20px;
}
//logedin-user-header
.user-access-section{
    display: flex;
    align-items: center;
    gap: 20px;
}
.user-profile-pic{
    width: 40px !important;
    height: 40px !important;
    img{
        width: 100%;
    }
}