/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 12; /* Sit on top */
    padding-top: 0; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /*modal header */
  .modal-header{
    display: flex;
    width: 100%;
    height: 70px;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    background: $light-color;
  }
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    width: 100%;
    height: 100vh;
  }
  
  /* The Close Button */
  span.modal-close-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $primary-color;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    font-weight: 400;
    color: $primary-color;
}
  #search-modal span.modal-close-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $light-color;
    text-align: center;
    line-height: 27px;
    font-size: 20px;
    font-weight: 400;
    color: $light-color;
    position: absolute;
    right: 15px;
}
#search-modal span.modal-close-btn:hover,
#search-modal span.modal-close-btn:focus, 
  .modal-close-btn:hover,
  .modal-close-btn:focus {
    color: $secondary-color;
    border: 2px solid $secondary-color;
    text-decoration: none;
    cursor: pointer;
  }

  /*custome search modal */
  .search-modal-header {
    display: flex;
    background: linear-gradient(
121deg
, #3a3a3c 0%, #1a6cb6 100%);
    width: 100%;
    height: 70px;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
}
input#search-main {
    border: none;
    border-bottom: 2px solid $light-color;
    background: transparent;
    width: 50vw;
    color: $light-color;
    font-size: $navbar-title-font-size;
    font-weight: $navbar-title-font-weight;
}
.backto-home-defaluta {
  color: $primary-color;
  font-size: 20px;
}
.backto-home a {
    color: $light-color;
    font-size: 20px;
}
button#main-search-icon-legacy {
    background: transparent;
    border: none;
    color: $light-color;
    position: relative;
    left: -23px;
    font-size: $navbar-title-font-size;
}
.cat-heading {
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  font-size:$navbar-title-font-size;
  font-weight: 500;
  border-bottom: 1px solid $primary-color;
  padding-bottom: 10px;
}
.cat-content{
  font-size: $subheadline-font-size;
  font-weight: 400;
  line-height: $subheadline-line-height;
}
  .cat-heading i {
    font-size: 25px;
}
.cat-content ul li a {
  color: $primary-color;
  list-style: none;
  line-height: 2;
  &:hover{
    color: $secondary-color;
  }
}

//search result modal
#search-result-modal.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 12; /* Sit on top */
  padding-top: 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: none; /* Fallback color */
}
#search-result-modal.modal {
  width: 50vw;
  height: auto;
  top: 71px;
  left: 24vw;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  
  background-color: transparent; /* Fallback color */
  background-color: transparent; /* Black w/ opacity */

}
#search-result-modal div.modal-content{
  font-size: $subheadline-font-size;
  font-weight: 400;
  line-height: $subheadline-line-height;
  height: auto !important;
}

//mobile menu modal form buttom
/* The Modal (background) */
.modalBottom {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1010; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  
  /* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: $light-color;
  width: 100%;
  height:40%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  border-radius: 10px 10px 0 0;
  padding: 15px;
}
}
.link-option.mobile-menu {
  display: flex;
  gap: 15px;
  align-items: center;
  color: $primary-color;
  font-size: $link-font-size;
  font-weight: $link-font-weight;
  margin-bottom: 20px;
  .material-icons {
    background: $option-icon-bg;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
  }
}



/* The Close Button */
.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  font-size: $subheadline-font-size;
  font-weight: $subheadline-font-weight;
  // background-color: #5cb85c;
  // color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  // background-color: #5cb85c;
  // color: white;
}

//mobile modal
.userAccountModal{
  .modal-content{
    height: 100vh;
  }
}




/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
