/*----tooltip-------------*/
.tooltip-container{
  position: relative;
  &:hover .tooltip{
    display: block;
  }
}
.tooltip {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  display: none;
  font-size: $link-font-size;
  background: $spec-secondary-color;
  color: $light-color;
  padding: 15px 10px;
  text-align: center;
  line-height: 1;
  border-radius: 5px;
  width: max-content;
}
div.option > .tooltip {
	left: -32px;
}
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  
/*----mainpopup for notification class---*/
  .popup .notification-content{
    visibility: hidden;
    min-width: 350px;
    padding: 20px 15px;
    position: absolute;
    z-index: 10;
    top: 48px;
    margin-left: -325px;
    .subtitle {
      font-size: 1.9rem;
      font-weight: 500;
    }
    .video-thub-img-row{
        display: flex;
        margin: 20px 0;
        align-items: center;
        .video-thub-img{
            position: relative;
            border-radius: 6px;
            flex-basis: 50%;
            margin-right: 15px;
            overflow: hidden;
            img{
                width: 100%;
            }
            .play-btn{
             width: 25%;
             position: absolute;
             left: 38%;
             top: 25%;
         }
         .vide-share-options {
            position: absolute;
            right: 10px;
            bottom: 8px;
            a{
                color: $primary-color;
                &:hover{
                    background: $option-icon-bg;
                }
            }
        }
        }
        .small-video-details {
            width: 100%;
        }
        .small-video-details{
         .video-title {
             display: flex;
             align-items: center;
             justify-content: space-between;
             font-size: $subheadline-font-size;
             
             .title-text{
                margin: 0 !important;
             }
         }
            .video-attributes{
              font-size: $link-font-size;
                flex-flow: column;
                color: $spec-secondary-color;
            }
        }
    }
    .video-time {
      bottom: 6px;
      right: 6px;
      padding: 4px;
    }
    .header-with-right-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color_dark-grey;
        padding-bottom:10px;
    }
  }
  /*----mainpopup class---*/
  
  .popup .create-option-content {
    visibility: hidden;
    width: 160px;
    position: absolute;
    z-index: 10;
    top: 48px;
    margin-left: -140px;
  }
  a.option-link {
    color: $primary-color;
    font-size: $link-font-size;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    &:hover{
        background: $option-icon-bg;
    }
}
/*video options-----------*/
a.option-link .material-icons {
  font-size: 20px;
  margin-right: 20px;
}
.popup .addtoQuerePopup{
  visibility: hidden;
  width: 200px;
  position: absolute;
  z-index: 10;
  top: 30px;
  margin-left: -182px;
}
.popup .single-video-option-content {
  visibility: hidden;
  width: 240px;
  position: absolute;
  z-index: 10;
  top: 25px;
  margin-left: -214px;
  
}


/*user-account options-----------*/
.option-link i.custom-icon.icon-right-open-mini {
  position: absolute;
  right: 20px;
  margin-right: 0 !important;
}
.user-option {
	position: relative;
}
.popup .gustSett-content{
  visibility: hidden;
  width:220px;
  position: absolute;
  z-index: 10;
  top: 35px;
  right: -13px;
  .card-header {
    border-bottom: 1px solid $color_light-gray;
    padding-bottom: 15px;
  }
  
  
  .fas.fa-chevron-right.icon-right {
    text-align: right;
    margin-right: 0;
    font-size: $link-font-size;
    position: absolute;
    right: 20px;
  }
  a.option-link img {
    width: 20px;
    margin-right: 10px;
  }
  a.option-link i {
    font-size: 20px;
    margin-right: 10px;
  }
  a.option-link {
   
    font-size: $link-font-size;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    &:hover{
        background: $option-icon-bg;
    }
  }
}
.popup .userSetting-content {
  visibility: hidden;
  width:280px;
  position: absolute;
  z-index: 10;
  top: 56px;
  right: 0;
  .card-header {
    border-bottom: 1px solid $color_light-gray;
    padding-bottom: 15px;
  }
  .fas.fa-chevron-right.icon-right {
    text-align: right;
    margin-right: 0;
    font-size: $link-font-size;
    position: absolute;
    right: 20px;
  }
  a.option-link img {
    width: 20px;
    margin-right: 20px;
  }
  a.option-link i {
    font-size: 20px;
    margin-right: 20px;
  }
  a.option-link {
    color: $primary-color;
    font-size: $link-font-size;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    &:hover{
        background: $option-icon-bg;
    }
  }
}
.basic-user-settings {
  border-bottom: 1px solid $color_light-gray;
}
.user-name {
	font-size: $navbar-title-font-size;
  font-weight: $subheadline-font-weight;
	line-height: $navbar-title-line-height;
}
.user-email {
	margin-bottom: 15px;
  font-size: $user-comment-font-size;
	line-height: $subheadline-line-height;
}
.header-with-left-pic {
	display: flex;
	gap: 15px;
  padding: 20px;
}
.account-detail-link{
  font-size: $user-comment-font-size;
	line-height: $subheadline-line-height;
}

  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    overflow: inherit;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  .tooltip::before {
    content: "";
    position: absolute;
    bottom:100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:transparent transparent  $spec-secondary-color transparent;
  }

  .popup .show::before {
    content: "";
    position: absolute;
    bottom:100%;
    left: 95%;
    z-index: 10;
    margin-left: -15px;
    border-width: 10px;
    border-style: solid;
    border-color:transparent transparent  $light-color transparent;
  }