#content {
	position: absolute;
	left: 75px;
	padding: 30px;
	top: 70px;
    .hero-section{
        margin-bottom: 1rem;
        .hero-bg-image {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            height: 420px;
            .hero-content{
                .hero-title-text{
                    font-size: 5rem;
                    font-family: $hero-title-font-family;
                    font-weight: $hero-title-font-weight;
                    line-height: 6.5rem;
                    letter-spacing: 0.2px;
                }
                .hero-desc {
                    font-size: $channel-title-font-size;
                    font-weight: $channel-title-font-weight;
                    line-height: $channel-title-line-height;
                }
            }
        }
    }
   

    .single-video-content {
        margin-bottom: 2rem;
        .video-attributes {
            flex-flow: column;
        }
    }
   .video-feature-image{
        margin: auto;
        position: relative;
        overflow: hidden;
        height: 0;
        border-radius: 6px;
        padding-bottom: 56.25%;
   }
   
   .thumbnail-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   }
   .vide-share-options{
    position:absolute;
    bottom:10px;
    right: 10px;
      span a{
          color: $primary-color;
          margin: 0 10px;
          font-size: 0.7rem;
          &:hover{
             color: $secondary-color; 
          }
      }
  }
    .video-title {
        font-size: $navbar-title-font-size;
        font-weight: $navbar-title-font-weight;
        line-height: $navbar-title-line-height;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .video-attributes {
        display: flex;
        justify-content: space-between;
        font-size: $user-comment-font-size;
        font-weight: $user-comment-font-weight;
        line-height: $user-comment-line-height;
        color: $spec-text-secondary-color;
        text-align: initial;
    }
   .play-btn{
       position: absolute;
       left: 50%;
       top: 50%;
       transform: translate(-50%,-50%);
       cursor: pointer;
       opacity: 0.7;
   }
   .video-thub-img-row{
       position: relative;
       display: flex;
       margin-bottom: 20px;
       .video-thub-img{
           position: relative;
           border-radius: 6px;
           flex-basis: 50%;
           min-width: 150px;
           margin-right: 15px;
           overflow: hidden;
           img{
               width: 100%;
           }
           .play-btn{
               display: none;
            width: 25%;
        }
       }
       .small-video-details{
        .video-title {
           
            .title-text{
                font-size: $subheadline-font-size;
                margin-top: 0;
                margin-bottom: 10px;
            }
        }
           .video-attributes{
               flex-flow: column;
           }
           .option-icon{
               color: $spec-secondary-color;
               display: none;
           }
       }
    
    .option-overlay{
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .play-list-add{
        position: relative;
        background: $primary-color;
        color: $light-color;
        padding: 2px;
        font-weight: $link-font-weight;
        font-size: $link-font-size;
        border-radius: 3px;
        width: 25px;
        height: 25px;
        text-align: center;
        cursor: pointer;
    }
    .watch-later{
        position: relative;
        background: $primary-color;
        color: $light-color;
        padding: 2px;
        font-weight: $link-font-weight;
        font-size: $link-font-size;
        border-radius: 3px;
        width: 25px;
        height: 25px;
        text-align: center;
        cursor: pointer;
        line-height: 20px;
        margin-bottom: 5px;
    }
    .play-list-add:hover .add-to-que.hover-option-text,
    .watch-later:hover .watch-later-que.hover-option-text{
        display: block;
    }
    .hover-option-text {
        background: #030303;
        position: absolute;
        right: 30px;
        top: 0;
        min-width: max-content;
        padding: 0 10px;
        display: none;
        line-height: 25px;
        
    }
    .video-time {
        position: absolute;
        background: $primary-color;
        bottom: 10px;
        right: 10px;
        color: $light-color;
        padding: 5px;
        font-weight: $link-font-weight;
        font-size: $link-font-size;
        border-radius: 3px;
    }
   }
   .video-thub-img-row:hover .option-icon,
   .video-thub-img-row:hover .play-btn,
   .video-thub-img-row:hover .option-overlay{
    display: block;
}
   .video-player{
       display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    .close-btn{
        position:absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        @include set-background($primary-color);
        cursor: pointer;
        &:hover{
            @include set-background($secondary-color);
        }
    }
   }
   .section-title {
    font-size: $section-title-font-size;
    font-weight: $section-title-font-weight;
}
    #live-streaming{
        
        .live-streaming-video{
            .live-video{
                display: flex;
                flex-flow: column;
                width: 100%;
                height: 50vh;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 3px;
                box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
                overflow: hidden;
            }

        }
        
    }
    .single-play-video:hover .play-btn,
    .single-play-video:hover .option-overlay{
        display: block;
    }

    .single-video-content:hover .option-icon,
    .single-video-content:hover .play-btn,
    .single-video-content:hover .option-overlay{
    display: block;
}
    .single-video-content{
        .video-title {
            font-size: $subheadline-link-font-size;
            font-weight: $subheadline-link-font-weight;
            line-height: $subheadline-link-line-height;
           
        }
        .video-attributes{
            font-size: $link-font-size;
            line-height: $link-line-height;
            // flex-flow: column;
        }
        .video-watch-info{
            display: flex;
            justify-content: space-between;
        }
        .play-btn{
            display: none;
            width: 25%;
        }
        .option-icon{
            color: $spec-secondary-color;
            display: none;
        }
        .watch-later,
        .play-list-add{
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
        }
    }
}
.video-feature-row:hover .option-overlay{
    display: block;
}
.option-overlay{
    display: none;
    position: absolute;
	top: 20px;
	right: 10px;
}
.play-list-add{
    position: relative;
	background: $primary-color;
	color: $light-color;
	padding: 5px;
	font-weight: $link-font-weight;
	font-size: $link-font-size;
	border-radius: 3px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}
.watch-later{
    position: relative;
	background: $primary-color;
	color: $light-color;
	padding: 5px;
	font-weight: $link-font-weight;
	font-size: $link-font-size;
	border-radius: 3px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
    margin-bottom: 10px;
}
.play-list-add:hover .add-to-que.hover-option-text,
.watch-later:hover .watch-later-que.hover-option-text{
    display: block;
}
.hover-option-text {
	background: #030303;
	position: absolute;
	right: 40px;
	top: 0;
	min-width: max-content;
	padding: 0 10px;
	display: none;
    line-height: 30px;
    
}
.video-time {
	position: absolute;
	background: $primary-color;
	bottom: 10px;
	right: 10px;
	color: $light-color;
	padding: 8px;
	font-weight: $link-font-weight;
	font-size: $link-font-size;
	border-radius: 3px;
}