.small-video-details {
    display: flex;
    width: 100%;
    flex-flow: column;
    .title-text {
        margin-bottom:10;
    }
    .channel-name{
        font-size: $user-comment-font-size;
        font-weight: $user-comment-font-weight;
        line-height: $user-comment-line-height;
        color: $spec-text-secondary-color;
    }
    .subscribers{
        font-size: $thumbnail-attribution-font-size;
        font-weight: $thumbnail-attribution-font-weight;
        line-height: $thumbnail-attribution-line-height;
        color: $spec-text-secondary-color;
    }
}
// .single-content-play div.video-title{
//     font-size: 1rem !important;
// }
.single-content-att{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.video-watch-info {
    display: flex;
    align-items: center;
}
.single-video-content{
    .channel-name{
        font-size: $user-comment-font-size;
        font-weight: $user-comment-font-weight;
        line-height: $user-comment-line-height;
        color: $spec-text-secondary-color;
    }
}
.channel-name{
    font-size: $subheadline-font-size;
    font-weight: $subheadline-font-weight;
    line-height: $subheadline-line-height;
}
.subscribers{
    font-size: $thumbnail-attribution-font-size;
    font-weight: $thumbnail-attribution-font-weight;
    line-height: $thumbnail-attribution-line-height;
    color: $spec-text-secondary-color;
}
.like-share-opt {
    display: flex;
    align-items: center;
    .material-icons{
        font-size: 24px;
        color: $icon-font-color !important;
    }
    i{
        font-size: 22px;
        color: $icon-font-color !important;
    }
    a{
        font-size: $link-font-size;
        font-weight: $link-font-weight;
        line-height: $link-line-height;
        text-transform: uppercase;
        display: inline-flex;
        align-items: center;
        color: $spec-text-secondary-color;
       
        :hover{
            color: $secondary-color;
        }
    }
    .count{
        margin-left: 10px;
    }
   
}
.ml-c{
    margin-left: 10px;
}
.mx-c{
    margin: 0 10px;
}


//channel details
.channel-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.channel-details {
    display: flex;
    align-items: center;
}

.user-profile-pic,
.channerl-thub {
    width: 70px;
    height: 70px;
    background: lightgray;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-profile-pic img,
.channerl-thub img {
    width: 50px;
}

//tab content style
.tabcontent{
    display: none;
}
.tabcontent.active{
    display: block;
}
.video-description {
    width: calc(100% - 70px);
    display: flex;
    flex-flow: column;
    margin-left: 70px;
}
.desc-tab {
    border-bottom: 1px solid  $color_light-grey;
}
.tablinks.active {
	border-bottom: 2px solid  $secondary-color !important;
        color: $secondary-color !important;
}
.tablinks {
    border: none;
    background: transparent;
    font-size:$subheadline-link-font-size;
    font-weight: $subheadline-link-font-weight;
    color: $spec-secondary-color;
    padding: 5px 15px;
    
    &:hover{
        border-bottom: 2px solid  $secondary-color;
        color: $secondary-color;
    }
}
.tablinks:nth-child(1){
    padding-left: 0;
}
.desc-tabContent {
    font-size: $user-comment-font-size;
    font-weight: $user-comment-font-weight;
    line-height: $user-comment-line-height;
    letter-spacing: $user-comment-letter-spacing;
}

//Comments section
.comment-submit {
    display: none;
	margin: 10px 0;
}
.terms-con {
    font-size: $link-font-size;
	width: 70%;
	float: left;
	line-height: 33px;
}
.buttons-com {
	float: right;
}
.comment-section-title{
    font-size: $subheadline-font-size;
}
.old-comments,
.new-comment {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.old-comments.reply{
    margin-left: 7rem !important;
}
.comments-content,
.comment-input {
    width: calc(100% - 70px);
}
.comment-input .inputbox-content input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    line-height: 30px;
    font-size: 14px;
    border: 0;
    background: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
}
.comment-input .inputbox-content {
    position: relative;
    width: 100%;
}
.comment-input .inputbox-content label {
    position: absolute;
    font-size: $user-comment-font-size;
    top: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
    color: #ccc;
    cursor: text;
    transition: all 200ms ease-out;
    z-index: 10;
    pointer-events: none;
}
.comment-input .inputbox-content input:focus ~ label, .comment-input .inputbox-content input:valid ~ label {
    color: $secondary-color;
    transform: translateY(-20px);
    font-size: $user-comment-font-size;
    cursor: default;
}
.comment-input .inputbox-content input:focus ~ .underline {
    width: 100%;
}

.comment-input .inputbox-content .underline {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    background: $secondary-color;
    transition: all 200ms ease-out;
}
span.comment-time {
    color: $spec-text-secondary-color;
    font-size: $thumbnail-attribution-font-size;
        font-weight: $thumbnail-attribution-font-weight;
        line-height: $thumbnail-attribution-line-height;
}

.comments-att {
    display: flex;
    a{
        color:$icon-font-color;
        font-size: $thumbnail-attribution-font-size;
        font-weight: $thumbnail-attribution-font-weight;
        line-height: $thumbnail-attribution-line-height;
        &:hover{
            color: $secondary-color;
        }
    }
}

.comment-user-name{
    font-size: $user-comment-font-size;
    font-weight: 500;
    line-height: $user-comment-line-height;
    letter-spacing: $user-comment-letter-spacing;
}
.comment-message {
    font-size: $user-comment-font-size;
    font-weight: $user-comment-font-weight;
    line-height: $user-comment-line-height;
    letter-spacing: $user-comment-letter-spacing;
}

#replay-input{
    display: none;
    margin-left: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
}