// Component focus shadow mixin
@mixin control-shadow($color: $primary-color) {
    box-shadow: 0 0 0 .1rem rgba($color, .2);
  }
  
  // Shadow mixin
  @mixin shadow-variant($offset) {
    box-shadow: 0 $offset ($offset + .05rem) * 2 rgba($dark-color, .3);
  }

  //Button varint mixin
@mixin button-variant($color:$primary-color) {
    background: $color;
    border-color: darken($color, 3%);
    color: $light-color;
    &:focus{
        @include control-shadow($color);
    }
    &:focus,
    &:hover{
        background: darken($color, 2%);
        border-color: darken($color, 5%);
        color: $light-color;
    }
    &:active,
    &.active{
        background: darken($color, 7%);
        border-color: darken($color, 10%);
        color: $light-color;
    }
    &.loading{
        &::after{
            border-bottom-color: $light-color;
            border-left-color: $light-color;
        }
    }
}

//Button outline varint mixin
@mixin button-variant($color:$primary-color) {
    background:$light-color;
    border-color:$color;
    color: $color;
    &:focus{
        @include control-shadow($color);
    }
    &:focus,
    &:hover{
        background: lighten($color, 50%);
        border-color: darken($color, 2%);
        color: $color;
    }
    &:active,
    &.active{
        background:$color;
        border-color: darken($color, 5%);
        color: $light-color;
    }
    &.loading{
        &::after{
            border-bottom-color: $color;
            border-left-color: $color;
        }
    }
}


//useing function to set text color based on backgorund
@function set-text-color($color){
    @if(lightness($color)>70){
        @return $primary-color;
    }@else{
        @return $light-color;
        
    }
}

// set background and text using mixing in one code
@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color);
    
}

